[2014-01-31 20:07] tmcw opened #1 "Passing gradient option to simpleheat?"
Doesn't seem like this is possible via the current API

[2014-02-01 19:08] morganherlocker commented on #1
Ideally this would be an array of color breaks, which would make it easier to keep colors from getting muddy in the middle. For example: (although it would probably need to take hexcodes or rgb vals instead of keys like this)

['red', 'yellow', 'green']

[2014-02-01 19:47] tmcw commented on #1
The simpleheat api looks legit: https://github.com/mourner/simpleheat#appearance - it's just not accessible from this interface.

[2014-02-20 11:53] bolollo opened #2 "problem overlaying two heatmaps"
Hi Vladimir,

I just noticed a small glitch with the heatmaps library for Leaflet: there’s no way to overlay two heatmaps one on top of the other.
Is it any simple to fix?

[2014-03-06 20:22] ajbeaven opened #3 "Heatmap changes after zooming"
I've found that the heatmap imagery can change slightly after zooming with no change to the data points:

![orig](https://f.cloud.github.com/assets/657201/2350103/641aaf4e-a56c-11e3-89d5-856865d95d21.png) ![after-zoom](https://f.cloud.github.com/assets/657201/2350104/66e5e75c-a56c-11e3-9a06-430f0cbc72c8.png)

I think this happens when you zoom out quickly (ie. multiple zoom levels at once) and the

[2014-03-06 21:30] danzel commented on #3
You can reproduce on the 10k example.
http://leaflet.github.io/Leaflet.heat/demo/

Zoom in here, 1 zoom at a time
![image](https://f.cloud.github.com/assets/393086/2350896/3f7503e2-a576-11e3-9c51-2e1486442894.png)

It looks like this
![image](https://f.cloud.github.com/assets/393086/2350903/4b8705fe-a576-11e3-9e2c-ca3c446c7a62.png)
Do a big zoom out/in fiddle around.

Ends up looking different, I

[2014-03-12 01:51] matejmuza opened #4 "IE9 -heatmap position is off after panning"
Not sure if Leaflet.heat supports IE9... There seems to be an issue with heatmap layer positioning after user pans around the map.

![ie9_heat_1](https://f.cloud.github.com/assets/4689746/2393201/d3f68442-a98a-11e3-92d1-a8c0c5c1c16e.PNG)

![ie9_heat_2](https://f.cloud.github.com/assets/4689746/2393202/d805daf6-a98a-11e3-81d2-2ad63c36913f.PNG)

If anybody else needs to support IE9, adding 'position

[2014-03-14 13:28] danielfox opened #5 "Intensity doesn't work correctly"
When intesity is provided as altitude it isn't computed properly (the values are too small and everything is trated as value 1). To get it to work correctly I changed two bits of code in the _redraw function:
- line 144
[code]
Multiplying the alt with v makes it really small, so I went for not doing it.
- line 168
[code]
If the values are too small in line 144 this will always be < 1 and after cha

[2014-04-03 07:39] ubuntufreak commented on #2
@bolollo Did you find any solution to overlay two heatmap layers using the plugin ? Even i'm trying to implement a similar feature.

@mourner Is it possible to create two objects of the L.heatLayer and embed both on the same map ?

[2014-04-03 08:06] bolollo commented on #2
@ubuntufreak I have not found any solution. Currently I use a radio button in the Layers Control

[2014-04-03 08:36] ubuntufreak commented on #2
@bolollo you mean like redrawing the heatmap's with different values based on the radio button ?

[2014-04-03 08:39] mourner commented on #2
Did you try just adding two `L.heatLayer` objects to the same map?

[2014-04-03 08:49] ubuntufreak commented on #2
@mourner yes i did try that like this https://gist.github.com/ubuntufreak/9950789
But only the first object is displayed in the map.

[2014-04-03 09:24] mourner commented on #2
Sounds like a bug, I'll take a look.

[2014-04-03 09:33] ubuntufreak commented on #2
@mourner thanks for taking time to look into this !

[2014-04-07 20:15] zedd45 commented on #4
Thanks @matejmuza, that fix worked for me in IE9 as well.

@mourner I'll submit a pull request later today.  I'm thinking just apply style.position = "absolute" and a top / left value.

[2014-04-07 20:28] mourner commented on #4
Oops, thanks for figuring this out guys :)

[2014-04-08 00:52] zedd45 commented on #4
Thank for continuing to make awesome stuff.  Nice trick on the npm install post hook to build the bundle, too.  Hadn't seen that one before.

[2014-04-11 22:06] vlasvlasvlas opened #7 "error loading my own points"
trying the 10.000 points example,

i got this error
"Uncaught TypeError: Cannot read property '0' of undefined "

sample of my data:

---

var addressPoints = [
[-35.4185239604101, -60.1819977605355,"540"],
[-35.4256691043552, -60.1671376727503,"711"]
.....
];

[2014-04-13 20:42] danzel commented on #7
We're going to need more info than this.
Please create a minimal jsfiddle.

[2014-04-14 01:03] marks commented on #2
@mourner - any update? very interesting in doing this as well.

[2014-04-16 18:14] Guitlle commented on #5
Hi @danielfox , my pull requests (issue #8 ) shows a relative heat map based on the minimums and maximums of the visible points instead of the zoom. I tested it with random data and looks good for few points
![urban data3](https://cloud.githubusercontent.com/assets/2118234/2722292/54e09086-c586-11e3-97cf-7eadee25aedc.png)

[2014-04-22 09:07] #2 closed, assigned to nobody

[2014-04-22 09:07] mourner commented on #2
Should be fixed now.

[2014-04-22 09:09] #7 closed, assigned to nobody

[2014-04-22 09:10] mourner commented on #4
Should be fixed with https://github.com/Leaflet/Leaflet.heat/commit/9a41e607d2c22d07543e9e979b3d599d686d2129 now

[2014-04-22 09:10] #4 closed, assigned to nobody

[2014-04-22 09:13] mourner commented on #1
Gradient option here: https://github.com/Leaflet/Leaflet.heat#lheatlayerlatlngs-options

[2014-04-22 09:13] #1 closed, assigned to nobody

[2014-04-22 13:22] marks commented on #2
@mourner - thanks!!

[2014-04-23 05:30] ubuntufreak commented on #2
@mourner thanks works fine now !

[2014-04-24 06:38] ryansit commented on #5
+1, a relative heatmap would be a huge improvement

[2014-05-16 10:14] sheffieldnikki opened #10 "Can Leaflet.heat emulate the default Google visualization.HeatmapLayer ?"
I have a map that uses Google Maps and their visualization.HeatmapLayer with the default colours, and radius=20:

http://racelifts.org/Highland-Fling-2014/stats

I'm trying to reproduce this as closely as I can with Leaflet and Leaflet.heat - colours, opacity, etc. I've experimented with radius, blur, maxZoom & gradient settings, but I can't get close :( Is it possible? Thanks

[2014-05-16 15:18] doomsuckle commented on #10
I can't really tell how the original is built. If there are fixed contours and color levels, I don't think heat will work for you because it dynamically forms little clusters with a weight.

[2014-05-18 09:35] philippgeuder commented on #10
i guess you should get the colours pretty close by fiddling with the gradient settings.
for opacity:
leaflet.heat uses [simpleheat](https://github.com/mourner/simpleheat/) for drawing the actual heatmap. You can modify the colorization by editing the `_colorize`-function: [https://github.com/mourner/simpleheat/blob/gh-pages/simpleheat.js#L126](https://github.com/mourner/simpleheat/blob/gh-pages/si

[2014-05-18 09:48] philippgeuder opened #11 "option to change size of heatmap layer"
is it possible to add an option to leaflet.heat to expand the heatmap layer beyond the size of the map-view, say triple the length & height? so that when a user pans, the heatmap is not cutt off and instead feels "continous"?

[2014-05-18 10:02] mourner commented on #11
Yep, possible and not hard to do.

[2014-05-18 11:39] philippgeuder commented on #11
this https://gist.github.com/schlompf/c07792aea89fcd8627a7 sort of works. right and bottom edge behave as expected ;) for left and top edge, i probably have to change line 105 to `[-size.x, -size.y]` so that the canvas layer is centered again, but then all my points are offset. And the offest for the scaling is still wrong.

do you mind pointing out the lines i still have to change? :)

[2014-05-29 05:04] rcrivera opened #12 "Heatmap from GeoJSON"
Is there any way that I can create a heatmap directly from a GeoJSON?

[2014-06-11 00:36] tayden commented on #12
I'm also interested in this

[2014-06-20 03:18] feixia586 opened #13 "How to make the heat map layer below other layers?"
I try to put this heat map layer under some geojson layers, but failed. Is there any suggestion to do that?

Thank you.

[2014-06-22 20:50] danzel commented on #13
If you add the heat layer to the map first that should do it?

[2014-06-23 01:29] feixia586 commented on #13
That won't work... After I added the heat map layer, I removed the geojson layer and re-added it. I found the heat map was still on the top.

[2014-07-21 12:55] sergei-maertens commented on #12
Yeah, me too

[2014-07-24 05:01] ryankdalton commented on #12
This would be a great enhancement!

[2014-07-25 08:52] brianrusso commented on #12
+1

[2014-07-28 18:59] riostevenson opened #14 "How to make heatmap look correct when no point intensity is supplied?"
For example This is what it looks like if i have array points added to map without point intensity
![error](https://cloud.githubusercontent.com/assets/5872814/3725727/b17a227a-168b-11e4-9cc4-b59013d362fd.png)

As you can see this heat map doesnt really look like a heatmap.  I also used default options for heatmap so I have no idea.

[2014-07-29 13:36] xuejinruan commented on #12
I am also looking for the support of GeoJson data for heatmap. If we could optionally choose any attribute field as weighting factor, that would be ever better! Thanks!!!

[2014-07-31 22:14] taylorkline commented on #14
Second this issue.

[2014-08-20 16:44] vitorleal opened #16 "Bower install"
There's any way to install it using [Bower](http://bower.io/)

[2014-09-02 01:03] zheffie opened #17 "Support for leaflet 0.8-dev"
Any change for support for leaflet 0.8-dev?

Chrome throws following errror

Uncaught TypeError: Cannot read property 'call' of undefined leaflet.js:5
o.Map.o.Evented.extend.whenReady leaflet.js:5
o.Map.include.addLayer

[2014-09-24 07:51] ilblog opened #18 "Extract canval layer functionality"
Leaflet.heat code contains one of the best canvas layer solution for Leaflet. Is there someone to make this separate project and maintain it?

/*
 Generic  Canvas Overlay for leaflet,
 Stanislav Sumbera, April , 2014
- added userDrawFunc that is called when Canvas need to be redrawn
- added few useful params fro userDrawFunc callback
  - fixed resize map bug
    inspired & portions taken from  :

[2014-09-24 08:40] mourner commented on #18
Yeah, I think there was a Leaflet.CanvasLayer plugin somewhere...

[2014-09-24 21:08] ilblog commented on #18
Yes but not as good and elegant as your solution. Have tried that. I use personally the code above for canvas, and I think the code deserves to have its own GitHub repo.

[2014-09-26 17:21] mattesCZ commented on #12
I think this plugin should have as simple API as possible. You can always transform your GeoJSON data with simple function like this:

[code]

[2014-10-01 07:37] ilvalle commented on #17
+1

[2014-10-29 21:46] abernier opened #19 "fixed radius"
Hi,

I'd like my heat point around `lat/lng` to have a fixed (zoom independent) radius of 500m : how can I specify this ?

Thank you

[2014-10-29 21:55] mourner commented on #19
Nice suggestion, I'll look into it — shouldn't be hard to implement. Just need to recalculate the radius on each zoom.

[2014-10-30 15:40] RobbieTheWagner commented on #17
:+1:

[2014-10-30 19:08] mourner commented on #17
I'll look into this, should be a matter of changing couple lines of code.

[2014-10-30 19:13] RobbieTheWagner commented on #17
Thank you! :)

[2014-10-31 17:57] abernier commented on #19
Also, in my opinion, having the radius expressed in meters by default makes more sense than pixels in that case.

Let me know if I can help in anything.

Cheers

[2014-11-03 14:48] RobbieTheWagner commented on #17
@mourner did you get a chance to look at this? If it is only a couple lines that need to be changed to support the new Layers extension, and you could tell me what those lines should look like, I could also start looking at some of the other layer plugins we are using and submit pull requests for the fix in other plugins to help this process along.

[2014-11-05 17:22] #17 closed, assigned to nobody

[2014-11-05 17:26] mourner commented on #17
Done. As you can see, this was super-easy. Most plugins will only require one change — inheriting from `L.Layer` rather than `L.Class`.

[2014-11-05 17:27] RobbieTheWagner commented on #17
Awesome, thanks! I appreciate your help.

[2014-11-06 18:52] RobbieTheWagner commented on #17
I am in the process of updating all the plugins we use to support the new version of leaflet, and it appears that changing L.Class to L.Layer is not the only issue with Leaflet.heat. There is the following line in _animateZoom:

[code]

That method has been removed. What is the fix for this?

[2014-11-06 18:54] mourner commented on #17
Did you actually look into the commit above?

[2014-11-06 18:56] RobbieTheWagner commented on #17
Yeah, I looked at it. Is setTransform the new way of doing things? I just expected getTranslateString to no longer be used.

[2014-11-06 19:00] mourner commented on #17
@rwwagner90 the commit above makes latest Leaflet.heat code work both with Leaflet 0.7.3 and Leaflet 0.8-dev.

[2014-11-21 16:03] RobbieTheWagner opened #22 "Building Leaflet.heat"
I have a need to specify minOpacity and pass it to draw like so:

[code]

I was hoping to submit a PR with this change, but I don't see a grunt or jake file or anything. How do I run a build for this?

[2014-11-21 16:49] mourner commented on #22
[code]

[2014-11-24 17:22] RobbieTheWagner commented on #5
I noticed after updating to the new version, our heat didn't look very good. It's related to this issue. Why was https://github.com/Leaflet/Leaflet.heat/blob/gh-pages/src/HeatLayer.js/#L145 changed? It used to be:

[code]

Why is `this._latlngs[i][2]` no longer supported?

@mourner, if there is not a pressing reason for it to have been changed, would you accept a PR to put it back? If there was a

[2014-11-24 19:41] mourner commented on #5
It's accidental probably. There's a pull for this already: https://github.com/Leaflet/Leaflet.heat/pull/20
Will merge soon.

[2014-11-24 20:16] RobbieTheWagner commented on #5
Okay, awesome. Thanks!

[2014-11-25 19:46] #22 closed, assigned to nobody

[2014-11-25 19:47] mourner commented on #14
You can now specify `minOpacity` in options to handle things like this.

[2014-11-25 19:47] #14 closed, assigned to nobody

[2015-01-04 21:19] dcz-switcher commented on #18
Thanks a lot for your example, I try to use EaselJS over a Leaflet map and your code save me, Leaflet.CanvasLayer was not as simple as your.

[2015-01-06 17:10] danbjoseph commented on #16
thanks for this great plugin, +1 for registering it on bower

[2015-02-09 19:25] dcurletti opened #24 "Setting opacity and Z index for Heat layer"
How would you go about toggling a heat layer's opacity on/off and adjusting the Z index- in reference to having multiple heat layers on the same map?  Mainly just worried about the opacity, but the z index would be nice.

Thanks!

[2015-02-17 14:26] princeshahnawaz2012 commented on #12
While using this function to fetch the data...I get this following error....
Uncaught RangeError: Maximum call stack size exceeded on leaflet.js:6

var geoData = geoJson2heat(layer.data, 2);
// returns  0: Array[3] 0: "42.3439925" 1: "-3.696906" 2: "4", 1: Array[3] 0: "38.2733071"1: "-3.6065861"2: "3" .....
var heatMap = L.heatLayer(geoData,{ radius: 20,blur: 15, maxZoom: 17})
map.addLayer(heatMap

[2015-02-19 14:33] aurelian commented on #16
:+1:

[2015-02-19 14:51] kikito commented on #16
:+1:

[2015-02-19 16:51] princeshahnawaz2012 commented on #12
the main problem was double quotes in each array. Therefore, i did a tiny change(using parseFloat) in the same function and passing to directly L.heatLayer.. It seems working.

var geoData = geoJson2heat(layer.data, intensity);
var heatMap = new L.heatLayer(geoData,{radius: 30,blur: 15, maxZoom: 17});

geoJson2heat = function(geojson, intensity) {
      return geojson.features.map(function(feature

[2015-02-20 12:27] fredericbonifas commented on #5
Hi,

At his line, I don't understand why we take the minimum between the cell's value and 1:
https://github.com/Leaflet/Leaflet.heat/blob/gh-pages/src/HeatLayer.js/#L172

Shouldn't it be

[code]

instead of

[code]

?

[2015-03-05 15:40] gofizz commented on #24
Hey, look in to creating custom panes in leaflet 0.8 (dev). You will need to modify the code in Heatlayer class to be able to use your custom pane. You can store your custom pane and modify its css and set its opacity or z-index.

[2015-03-05 19:22] dcurletti commented on #24
Ok cool I will look into it.  Appreciate the help.

[2015-03-05 19:22] #24 closed

[2015-03-22 10:32] bobintornado commented on #19
Having a similar but not exactly the same issue here.
Because I am not sure about how to recalculate the radius of each feature on each zoom, I implement this by removing old layers and add back new layers on each zoom.
Something like

[code]

and in my data_options, I implemented the resizing method

[code]

Hope this helps!
I refer to http://stackoverflow.com/questions/27545098/leaflet-calculati

[2015-04-01 15:28] Volox commented on #16
+1

[2015-04-20 13:29] NejcZupec commented on #16
:+1:

[2015-05-19 09:56] ClemC opened #25 "Negative values"
Hello,

I would like to specify a heat map with negative and positive values. Is it possible ?

Example : [ P1 {lat:0, lng:0, value: -0.5}, P2 {lat:10, lng:0, value: -0.2}, P3 {lat:10, lng:10, value: 0.3} ]

I think about a solution but it doesn't work :
In this example, if I add 0.5 to the values I will have positive values. However, assuming 0 is blue and 1 is red, the fusion of P1 and P2 will p

[2015-06-08 12:36] ghost commented on #19
any updates here? re-drawing of whole heatmap doesn't solve my problem

[2015-06-08 14:17] bobintornado commented on #19
http://leafletjs.com/reference.html#circle
Maybe by using circle itself (not circleMarker) could help? As the unites are in meters, not pixels.

Other than this point, you may want to check out some other statistical stuff for more accurate "heat" calculation.

[2015-06-22 21:19] 11samype opened #26 "Opacity"
I am trying to implement a heatmap with high opacity but when I set minOpacity it seems to not have any effect. Is there something I am missing?

[2015-06-23 10:20] mourner commented on #26
Can you set up a JSFiddle reproducing your problem?

[2015-06-23 15:56] 11samype commented on #26
http://jsfiddle.net/wSytj/79/

minOpacity at line 48

[2015-06-29 20:34] slavikshen opened #27 "Cannot render heat point when the user rotate the global map over 360 deg"
I found a bug that the heat map doesn't render the points when the global map is rotated over 360 deg.

The bug is caused by LatLngBounds.contains method which cannot handle the latLng point properly when the lng doesn't fit into [-180,180]

I have a fix for HeatLayer.js

        var southWest = this._map.containerPointToLatLng(L.point([-r, -r]));
        var northEast = this._map.containerPointTo

[2015-06-30 17:24] #5 closed

[2015-06-30 17:24] torfsen commented on #5
@fredericbonifas: I think so, too. The change works for me, so here's a [minimal pull request](https://github.com/Leaflet/Leaflet.heat/pull/28).

[2015-06-30 17:25] torfsen commented on #5
@mourner: That was quick :+1:

[2015-07-10 22:29] fullofcaffeine opened #30 "Built-in support for IDW heatmaps?"
Hi!

Thanks for this library!

I'm trying to create a heatmap like the one below:

<img width="672" alt="screenshot 2015-07-10 17 17 09" src="https://cloud.githubusercontent.com/assets/81248/8630211/98a9995c-2728-11e5-9d94-3470b5a8c64f.png">

(Source: https://www.walkscore.com/choice/restaurants/NY/New_York)

It uses IDW - https://en.wikipedia.org/wiki/Inverse_distance_weighting. Notice also that

[2015-07-12 10:01] mourner commented on #30
No support for this kind of visualization currently. Also see https://github.com/mourner/simpleheat/issues/3

[2015-07-12 10:01] #30 closed

[2015-07-12 21:37] fullofcaffeine commented on #30
Hi Vladimir,

Thank your for the reply.

Excerpt from mourner/simpleheat#3:

Do you know any other (open-source) javascript solution that implements that? Do you plan to support this in a near future for the `Leaflet.heat` plugin?

When you say it might involve a lot of tweaking, what do you mean exactly?

It's strange that these methods are not readily available currently in open-source mapping j

[2015-08-15 23:58] tmcw opened #31 "No tags"
This package has npm versions but not corresponding git tags. Using `npm version` will create the tag automatically: for future releases we should have git tags.

[2015-08-28 21:48] mourner opened #33 "Update tiles on the demo"

[2015-09-01 09:46] rio2311 opened #34 "Incompatible plugin with Leaflet 1.0.dev"
Could you please update project to be compatible with latest Leaflet 1.0.dev?
It has essential bug fixes, but with that one Leaflet.heat doesn't work at all.

All what do I have is this error "Uncaught TypeError: Cannot read property 'lat' of null"

[2015-09-18 12:08] yashwinkumar opened #35 "Heatmap with leaflet 0.7.3 is not working"
http://jsfiddle.net/yashwinkumar/9hs5ff3r/

[2015-09-22 15:02] mourner commented on #35
Well, try adding leaflet-heat.js after leaflet.js.

[2015-09-22 15:02] #35 closed

[2015-10-11 18:00] aanuprab opened #36 "Intensity does not work, NO documentation"
Intensity does not work and there is NO real documentation for this plugin.

multiple developers have this problem. Please fix.

http://stackoverflow.com/questions/26767722/leaflet-heat-issue-with-adding-points-with-intensity

[2015-10-12 14:46] merkylove commented on #25
I don't know whether it is possible, but if it is allowed to plot multiple heatmaps on a single area you may separate your points into positive and negative samples and plot their absolute values on different heatmaps using different colors, so you will get red areas on heatmap with positive points and black area on heatmap with negative points, for example. I haven't tried it unfortunately but ho

[2015-10-25 15:01] snkashis commented on #34
You may want to provide a jsfiddle of your example case, because with Leaflet 1.0 b1 things are operating fine.

[2015-10-25 15:28] #33 closed

[2015-10-26 16:06] #36 closed

[2015-10-26 16:07] mourner commented on #36
Clarified the documentatio, hopefully it'll be enough. Made sure intensity works as expected, maybe be you were using an outdated build?

[2015-10-26 16:25] #27 closed

[2015-10-26 16:29] mourner commented on #34
Made sure the latest version works with beta2 (including fixed animations). Will make a new release today.

[2015-10-26 16:29] #34 closed

[2015-10-26 16:34] mourner commented on #31
Tracking tags properly from now on. Released 0.2.0.

[2015-10-26 16:34] #31 closed

[2015-10-26 16:41] mourner commented on #13
This is supported with Leafle 1.0 beta if you create a separate pane and pass it as the `pane` option. Not an issue of Leaflet.heat.

[2015-10-26 16:41] #13 closed

[2015-10-26 16:43] mourner commented on #12
I agree with @mattesCZ, it should be easy enough to transform GeoJSON into a flat list of coordinates.

[2015-10-26 16:43] #12 closed

[2015-10-26 16:46] mourner commented on #26
Just confirmed minOpacity works properly in the latest release, the one in JSFiddle was probably an outdated build.

[2015-10-26 16:46] #26 closed

[2015-10-26 16:47] mourner commented on #25
Not possible at the moment.

[2015-11-02 13:37] shivanil opened #40 "How to use on mobile?"
Edited (in case it helps someone else): I've tried to do the following to make it work on iPad. I was expecting it to make the mouseover (or touch) work, but instead the map stays static and the touch events do not work. What's wrong?

Code follows below:

                 map.on ({
                            touchstart: function () { draw = false; },
                            touchend:   funct

[2015-11-02 13:46] IvanSanchez commented on #40
In which way does it fail?

This is a good time to remember [How To Ask Questions The Smart Way](http://catb.org/~esr/faqs/smart-questions.html).

For this case in particular, a bad question is "How do I make this work on an iPad?", and a good question would be "I've tried to do X on an iPad and was expecting Y, but instead I've got Z, what's wrong?".

[Are you sure of that](https://www.youtube.co

[2015-11-02 15:15] shivanil commented on #40
Hi Ivan, I've reacted to your comments above to ensure that this is a useful question to the rest of the community. I have also now watched the entire video that you've linked to.

I believe I see the answer at 36:00. In the video, he starts by determining whether any mouse coordinates are returned or whether targetTouches has returned an object in the map div we're looking at:

[code]

I understa

[2015-11-02 16:54] IvanSanchez commented on #40
You're still not asking a good question.

This is the issue tracker for Leaflet.heat, so **what part of Leaflet.heat is not working** for you?

[2015-11-11 16:23] mourner commented on #16
I don't want to support Bower anymore. It's a huge pain to support for library authors, has serious design flaws and should go away. Please use NPM, Webpack or JSPM instead. Also see discussion here: https://github.com/bower/bower/issues/1520

[2015-11-11 16:23] #16 closed

[2015-11-11 16:31] #40 closed

[2015-11-17 21:20] coolblades opened #41 "add support bower"
Hi,
I would like to use your library for our development (replace the old git://github.com/johnthillaye/Leaflet.heat.git). We are using bower to pull the libraries, and is it possible to add bower support to your library?

Thanks

Jonathan

[2015-11-17 21:27] yohanboniface commented on #41
See https://github.com/Leaflet/Leaflet.heat/issues/16#issuecomment-155834094

[2015-11-17 21:27] #41 closed

[2015-11-17 21:35] coolblades commented on #41
sorry about that.

[2015-11-30 10:58] XellossT commented on #3
I found that this bug is happening when the map zoom on different set of point.

For example if you zoom using the leaflet button you always get the same resultat with the heatmap.

But when you zoom at a different point you get different result. It seems that some point off the screen are not taken account for the gradient.

[2015-12-01 18:00] josselin-c opened #42 "Heatmap offset from map while refresh during panning"
When updating the heatmap layer while panning the map, the heatmap layer displays with an offset compared to the base map layer so the heatmap doesn't follow exactly the basemap movements.

To reproduce, you can use this code: https://gist.github.com/josselin-c/d1ea2b6e1c0fddea4f1b

[2015-12-02 06:21] eddielu opened #43 "Does the intensity/altitude value work with individual points?"
It seems that the only way to have sections show up as higher color intensities is to have several points clustered close together.

In other words, when given individual points (that are far apart from another) with different altitude values, the heatmap will show the same color of intensity for all points. Is this expected behavior?

[2015-12-02 15:09] mourner commented on #42
Can you please set this up in a JSFiddle?

[2015-12-02 15:39] josselin-c commented on #42
Here it is: http://jsfiddle.net/Ly4085Ln/

[2015-12-13 02:07] CComRed opened #44 "maniplulate a single point (feature request)"
Is it possible to manipulate a singe Point? It would be very cool if you can change the Blur, Radius for a single Point

[2015-12-15 11:06] cmoeke opened #45 "Please add a bower.json"

[2015-12-15 11:14] IvanSanchez commented on #45
No. See https://github.com/Leaflet/Leaflet.heat/issues/16#issuecomment-155834094

[2015-12-15 11:14] #45 closed

[2016-01-18 00:02] jameslaneconkling commented on #43
@eddielu No, the plugin should work with an array of individual points where the altitude values represent the intensity at that point (as explained in the docs).

I am having the same issue with the most recent version of leaflet.heat, which seems buggy.  The following test code...

[code]

produces the following:

![screenshot 2016-01-17 18 46 48](https://cloud.githubusercontent.com/assets/43893

[2016-01-18 09:37] mourner commented on #43
@jameslaneconkling looks like a perfect case for using `git bisect`! I'll be happy to know what the issue is too.

[2016-01-21 20:13] chadwilcomb opened #47 "Are there any draw events for a Leaflet.heat layer?"
I am pretty sure the answer is no, so I guess this is a feature request/call for help?

It would be very useful if there were events that we could listen for to know when the heatmap drawing has started and completed, similar to other leaflet layer types. I am building an time series animation with a heatmap layer but the drawing inevitably lags behind the time tick marker. In this case it would b

[2016-02-11 18:41] shankari opened #48 "Support for geojson? (feature request)"
Since geojson is turning into a de-facto standard, it seems like it would be useful to have geojson support for adding points, similar to the standard leaflet library. It seems like it would be a fairly simple fix, and I would consider contributing if there is sufficient interest.

[2016-02-22 12:20] mattesCZ commented on #48
See #12

[2016-02-25 19:20] jmpatricior commented on #43
I'm having the same problem with the most recent version, can anyone tell me how to get an older version without that bug?
Thanks.

[2016-02-29 12:50] jmpatricior opened #50 "I just can test your examples on Safari"
I'm testing your examples but i can only get them to work on Safari, have you hear of any incompatibilities with other browsers?
It works here ( http://leaflet.github.io/Leaflet.heat/demo/draw.html ) without any flaws, but when i try to copy your code, and run in my app it only works with Safari, doesn't show any error, i can't see any heatmap points, just the map.

Any help would be appreciated.

[2016-02-29 14:17] mourner commented on #50
It's probably a http/https mismatch, and is not related to the code. Also, this is not a support forum — please use StackOverflow for questions like this. GitHub issues are for project issues.

[2016-02-29 14:17] #50 closed

[2016-02-29 23:47] entone commented on #43
same issue here

[2016-03-03 00:24] #48 closed

[2016-03-03 09:36] simonvandel opened #51 "Heatmap tile not updating on drag"
In [example](https://www.mapbox.com/mapbox.js/example/v1.0.0/leaflet-heat-markers/) the heatmap is only loaded after a drag has ended, resulting in a half drawn heatmap.
See [this picture](http://imgur.com/StMdUNG) for a visual explanation.

What can be done to draw heatmaps while dragging or alternatively always have the heatmap drawn even if not inside the current viewport?

[2016-03-03 11:13] mourner commented on #51
This is working as intended for performance reasons.

[2016-03-03 11:13] #51 closed

[2016-03-03 11:21] simonvandel commented on #51
@mourner Is there a way to do it anyway if performance is not a factor?

[2016-03-03 13:33] mourner commented on #51
It's possible by changing the source code. Pull requests welcome.

[2016-03-24 20:13] samchorlton opened #52 "Radius per point"
Is it possible to set a custom radius per point rather than a radius for the set of points. I am trying to construct a heatmap from polygon centroids and would be great to be able to set a larger radius for larger polygons. The resultant effect would then hopefully be that I could weight the intensities for smaller polygons over those of larger.

[2016-03-24 22:09] mourner commented on #52
Not possible at the moment, but it shouldn't be too hard to customize by modifying the source.

[2016-03-25 12:32] kuzvac commented on #19
Hi folks! Firstly @mourner thank you for this plugin! Any update on this feature?
And another wish is fixed radius starting from zoom level :)

[2016-04-13 21:19] mgoldgeier commented on #19
+1

[2016-04-21 08:24] Rikuoja commented on #43
+1, my problem is probably related to this one.

Namely, changing the background map (as I have several maps with different resolutions) will completely change the heatmap even when the data stays the same. This is probably due to point intensity being related to the zoom level, instead of staying the same?

[2016-04-26 21:44] geraldstanje opened #54 "question regarding performance"
Hi,

great demo.

is the heatmap able to handle 200k data points (lat/long)? i plan to add the points on the fly, e.g. addLatLng, so will it slow down the rendering?

you set the default radius to 25, what does it mean? does the radius scale based on map zoom?

Thanks

[2016-04-27 04:30] mourner commented on #54
GitHub issues is a place to report bugs, not to ask support questions. Please use StackOverflow, or simply try feeding 200k points into Leaflet.heat and see how that works.

[2016-04-27 04:30] #54 closed

[2016-04-27 08:54] IvanSanchez opened #55 "Misalignment when pinch-zooming"
From https://github.com/Leaflet/Leaflet/issues/4511 by @mgleahy:

---

Hello all,

I'm trying out [leaflet-heat](https://github.com/Leaflet/Leaflet.heat), and would like to work with the 1.0.0-rc1 version of leaaflet.  So far, pretty much everything is working fairly well, except that the pinch zoom of a leaflet-heat layer on a mobile device does not animate with the rest of the map.  It works fin

[2016-04-27 13:08] geraldstanje commented on #54
github also has the feature to ask questions... reference: https://github.com/Leaflet/Leaflet/issues/4403

[2016-04-27 13:26] IvanSanchez commented on #54
I feel obliged to link to [How To Ask Questions The Smart Way](http://catb.org/~esr/faqs/smart-questions.html).

We are likely to answer questions (and feature requests) which show a good amount of independent previous research, and which might improve Leaflet's features or performance. But questions about how to use Leaflet for your specific use case? Nope. That's what [gis.stackexchange.com](htt

[2016-05-06 11:23] kuzvac commented on #19
I think i made something looks like [fixed radius](https://gist.github.com/kuzvac/84145d079b7c67a7094c973007d2e6a4)

[2016-05-08 08:07] spaasis commented on #3
Are there any ideas on how to fix this?

[2016-05-12 07:36] kennynaoh opened #57 "What license do you use?"
Hello @mourner ,
I am the member of the [cdnjs](https://github.com/cdnjs/cdnjs) project.
We want to host this library.
What license do you use?
References this [website](https://github.com/cdnjs/cdnjs/blob/master/tools/license-list.json).
Thanks for your help!

https://github.com/cdnjs/cdnjs/issues/6746

[2016-05-12 07:37] IvanSanchez commented on #57
https://github.com/Leaflet/Leaflet.heat/blob/gh-pages/LICENSE

[2016-05-12 07:37] #57 closed

[2016-06-07 19:29] jonl-percsolutions-com commented on #43
I have committed a pull request which resolves this issue:

https://github.com/Leaflet/Leaflet.heat/pull/60

[2016-06-16 18:29] beastlike opened #61 "Clickable/hoverable points?"
Is it possible to supply a click or hover event on each point drawn, similar to maplarge's "Average Household Incomes" map - http://maplarge.com/demos

[2016-07-12 06:12] cpunekar opened #63 "max option not working"
When I set the max value to 5, I am getting following error in my browser:

_Uncaught IndexSizeError: Failed to execute 'addColorStop' on 'CanvasGradient': The provided value (5) is outside the range (0.0, 1.0)_

[2016-07-13 01:07] songyanho commented on #63
Please provide your initialisation code so that we can help?

[2016-07-13 02:51] cpunekar commented on #63
var myVar = L.heatLayer(dataPoints, {
            max: 5.0,
            radius: 12,
            blur: 25,
            maxZoom: 11,
            gradient: {
              0.4: 'blue', 1: 'lime', 5.0: 'red'
            }
       });

[2016-07-14 03:06] Jmuccigr opened #64 "Add geojson to the readme?"
I see from #12 and other places that others besides me are very interested in using geojson files as sources for heat maps. After a little fiddling, I seem to have it working for myself. Any objections to adding fairly explicit instructions to the readme?

PS My own preference would be for built-in support, seeing how it's not very difficult and geojson is a fairly robust standard.

[2016-07-20 20:39] sinclarius commented on #42
I've been having a similar problem—seems to be an issue with using setInterval() to update the input data.

[2016-07-20 21:20] cpunekar opened #65 "Intensities adding up on zoom out"
Hello,

I am trying to create a heatmap based on the the values, I don't want to see the density as of now.

Is there a way I can avoid mixing the intensities as I zoom out?

[2016-07-21 21:55] #63 closed

[2016-07-25 03:58] nqbao commented on #3
I think this is because of this line https://github.com/Leaflet/Leaflet.heat/blob/gh-pages/src/HeatLayer.js#L141, leaflet heatmap will recalculate the heat value based on the zoom level which i think it is not the right behavior.

[2016-07-26 18:55] cpunekar commented on #43
@jameslaneconkling If you have the older version of this library, can you please share?

[2016-07-28 20:33] rmpestano commented on #61
I also would like to 'interact' with a heat point to show additional information, is it possible?

[2016-07-28 21:21] beastlike commented on #61
Yes. Just not directly through this library. I'll try to post some code soon; I've had to modify both this library and simpleheat.js to do this..  The problem about this library is that it just draws and averages your points onto a canvas. First, once it's done that, it has no knowledge about what's been drawn where. Your points are just pixels on a canvas. Secondly- and you'll see other people co

[2016-07-28 21:43] cpunekar commented on #19
@kuzvac Does keeping the radius fixed avoid merging of the lat/lng value colors on zoom out?

[2016-07-29 12:00] rmpestano commented on #61
Hi @beastlike,

thank you very much for the detailed information, I am not in a hurry for this but if I try it I'll come back here to share results. Thanks.

[2016-07-29 12:23] rmpestano commented on #61
Also just to share our use case. We are using heat to show criminal areas and each crime is a point of course but it has important information like the kind of crime.

Heatmap gives us a nice insight of where the majoroty of crimes are being commited but we have no information about the kind of crimes. For now we are using another layer (using sames crime points) combined with heatmap to show addi

[2016-07-31 03:01] cpunekar opened #67 "Radius with respect to zoom level"
@mourner Is it possible to change the radius based on zoom level. For eg. if I zoom out, the radius should decrease and if we zoom in the radius should increase.

I tried to modify the draw() function but it doesnt work. The radius() function just gets called once upon initialization, tried to call it from redraw() function on zoom change, following is the code change:

      draw: function(t) {

[2016-08-01 14:27] kuzvac commented on #19
@cpunekar can you please explain more detailed?

[2016-08-01 17:45] cpunekar commented on #19
Thanks @kuzvac for the reply. I wanted to have fixed radius when I asked this question but now since the intensity value of points get added as we zoom out, I was curious if we can recalculate the radius each time we zoom in and out. As in I want the radius to increase when we zoom in and to decrease when we zoom out. This would give me a better picture of the intensity values as I am not looking

[2016-08-02 15:46] simopaasisalo opened #68 "BringToFront/BringToBack?"
Is there any way to accomplish similar behavior to the ILayer BringToFront/Back? My use case is that I need to be able to reorder the layers on the map to, for example, send the heatmap layer below the other layers.

[2016-08-10 21:34] mertemin commented on #67
If you want to update radius with zoom level, you need to edit a couple methods. I actually experiment this idea a little bit and got some promising results.

First, I changed `radius` function's signature and replaced `r` with `zoom` parameter.

[code]

And updated draw method to accept current zoom level. I also made sure `draw` method calls `radius` method every time `zoom` level is changed. Ot

[2016-08-11 02:08] cpunekar commented on #67
Thanks @mertemin for the reply. Though I don't see the expected results but the radius does get recalculated on trying your logic. The intensities getting added up on zoom out is still blocking my expected result.

[2016-08-18 01:10] samhatchett commented on #43
I wonder if this is the culprit:
https://github.com/Leaflet/Leaflet.heat/blob/gh-pages/src/HeatLayer.js#L170

... instead of just accumulating the `k` value, seems like it should be doing a cumulative moving average: `cell[2] = cell[2] + (k - cell[2]) / (n + 1)` - similar to the way the x/y coordinates are spatially averaged with `alt` weighting. Would need to keep a running `n++` that tracks the

[2016-09-02 20:50] achourasia opened #70 "Bug: Heat map created is not what one expects"
There seems to be bug in heat map generation. For example there are five points with different weights and a defined color gradient. Expected output must be these points with different colors, yet the out shows same color for each point.

Below is the example code which generates incorrect output
`var map = L.map('map').setView([43.46811941, -90.04569087], 5);

var tiles = L.tileLayer('http://{s}.

[2016-09-02 21:45] achourasia commented on #70
The correct rendering should be like here
https://jsfiddle.net/pz4usuLe/40/

[2016-09-14 15:52] tomchadwin commented on #64
I'd love to see this fully implemented, for qgis2web.

[2016-09-14 16:49] tomchadwin commented on #12
In the functions above to transform GeoJSON, what is `layer.data` in the first line? Is `layer` an `L.geoJSON`? If so, I don't see a `data` property.

In other words, what type is `layer` in the first line?

[2016-09-15 15:11] klonuo commented on #43
This bug is 9 month old.
Which version works correct, as current is still incorrect?

[2016-09-19 09:31] debjan commented on #43
People, isn't this critical or I miss something? Couldn't you write about this limitation in readme,  instead praising how tiny and fast it is, so that we don't hit the wall, then google and browse issues to find nothing?

For other poor souls, I found that this plugin behaves as one would expected from heatmap: https://www.patrick-wied.at/static/heatmapjs/plugin-leaflet-layer.html

Although if yo

[2016-09-19 16:43] mourner commented on #43
Sorry, with so many open source repos to maintain, this went off my radar. I'm going to triage some issues in Leaflet.heat this week and hopefully fix or clear up the biggest hurdles.

[2016-09-23 13:53] crosspolar commented on #64
World you share your solution here?

[2016-09-23 17:00] Jmuccigr commented on #64
First a function to convert the geojson to a list of coords:

[code]

Now create your map as usual (not shown). Then add the heat map as a layer, where `geojson_data` is the variable declared by the .js file that contains the geojson data:

[code]

[2016-09-24 02:07] sildeag opened #71 "Examples using Leaflet.heat in R with %>% approach but more specifically using addressPoints or similar"
Any examples of Leaflet.heat code following this structure would be very helpful eg.
L2 = leaflet() %>% addTiles()

L2 = L2 %>% registerPlugin(leafletHeatPlugin)
L2 = L2 %>% setView(29.7632836,  -95.3632715, 10)
L2 = L2 %>% addLayersControl(
    baseGroups = names(esri),
    options = layersControlOptions(collapsed = TRUE)
  )

L2 = L2 %>% addAssets
L2 = L2 %>% addHeatmap(addressPoints)
L2 = L2 %>

[2016-09-30 08:44] han4wluc opened #72 "Get the heat value of a coordinate"
After the heatmap has been drawn, I would like to get the heat value of one specific point by inputting the lat and lng.

[2016-10-01 20:48] spinning--plates commented on #70
Hey there @achourasia, the fiddle with the correct output doesn't appear to be rendering the heatmap. Any idea what's going on?

[2016-10-03 18:40] achourasia commented on #70
Fixed the JS fiddle that shows correct output with heatmap.js https://jsfiddle.net/pz4usuLe/43/
The Javascript was not loading correctly.
I suggest reopening this issue, as this seems to be major bug

[2016-10-05 11:23] explorer14 opened #73 "Heatmap canvas obscures the SVG shapes"
Hi,

My use case is as follows, I draw a shape (using the leaflet-draw plugin for shape drawing and editing) on the map to query some locations from a database in an area covered by that shape and show them on a map. I am also attaching a hover over label to the shape to show what data the locations represent. See screenshot below:

![image](https://cloud.githubusercontent.com/assets/1242932/19110

[2016-10-05 12:00] explorer14 commented on #73
Ok I think I might have found a way around this. I will see if I can submit a pull request with the change because I think it could be useful for others as well.

Cheers
Aman

[2016-10-05 12:00] #73 closed

[2016-10-19 08:16] matthieu80 opened #74 "intensity does not seem to work"
Hi there,
Changing the value of the intensities does not change the look of a map.
Is there anything I am missing?

Thank you!

[2016-10-25 18:07] Nithanaroy opened #75 "Exception on certain map state changes"
**Message**: "Failed to execute 'getImageData' on 'CanvasRenderingContext2D': The source width is 0."

Stack trace:
<pre>
"Error: Failed to execute 'getImageData' on 'CanvasRenderingContext2D': The source width is 0.
    at Error (native)
    at Object.draw (http://0.0.0.0:8126/js/leaflet-heat/leaflet-heat.js:6:1414)
    at e._redraw (http://0.0.0.0:8126/js/leaflet-heat/leaflet-heat.js:11:2802)

[2016-10-28 10:35] sorin-simu commented on #74
Hi,
I have this problem too. The intensity attribute doesn't seem to work.
e.g.: [46.770439, 23.591423, "50"], [46.779439, 23.599423, "500.8"] looks the same on map.

@mourner Can you fix this bug in the near future ? Thanks a lot.

[2016-10-30 14:37] fullyBoricua commented on #74
Unless you change the 'max' option (maximum point intensity) all points will look the same over the default value of "1". You are also passing the intensity as a string, it should be a number.

Try with:
[46.770439, 23.591423, 0.5], [46.779439, 23.599423, 1]
They should look different

[2016-10-31 08:17] sorin-simu commented on #74
@fullyBoricua  thanks for your response. I've change them as you said but the result in the same.
![image](https://cloud.githubusercontent.com/assets/11425734/19847987/2573e100-9f53-11e6-8e47-e4149668a98e.png)
It seems like a bug .. @matthieu80

[2016-11-16 09:39] nformica opened #77 "Options: MinOpacity, maxZoom and max"
Hi,
I tried how these options (MinOpacity, maxZoon, max) work and it seems that they produce similar results.
It 'possible that I did not understand well their meaning !
Where can I find more detailed explanations for each ?

Thanks,
Nino

[2016-11-22 11:11] ispmarin commented on #70
So what´s the recommended heatmap to be used?

[2016-11-24 16:59] Harvinator commented on #43
Hi guy's,

I've submitted a pull request which potentially resolves this issue #78

It removes the max option and instead works it out for itself at each zoom level after points have been consolidated.

[2016-11-24 17:00] Harvinator commented on #74
Hi,

I've submitted a pull request #78 which will hopefully resolve this

[2016-12-29 12:20] Crashillo opened #79 "Disabled layers control on MaxZoom"
I've noticed when you zoom in, exceeding the maxZoom property (set by L.heatLayer options), the layer control checkbox is disabled. Why so?

I've two heatMaps, and mainly I need to depict the data at lower zoom, in a world-wide view, and to choose between maps; but if I zoom in over than maxZoom, selection is gone. Is it a bug, or has it any reason?

![chkbox-disabled](https://cloud.githubusercont

[2017-01-07 13:31] MojioMS opened #80 "conflicts with Leaflet.Draw for Microsoft Browsers"
Using the latest versions of ui-leaflet, Leaflet.Heat and Leaflet.Draw works fine for Google Chrome, Opera, Firefox, but Microsoft Edge and Internet Explorer 11 are not showing any maps anymore.
Some older release-versions of ui-leaflet and the Draw Plugin show again maps on Microsoft browsers, but the Heat Plugin is not anymore working in any browser.

Steps to reproduce:
Download the [Leaflet.He

[2017-01-13 11:57] rrooij commented on #79
Same problem here. It would be nice to see this fixed.

[2017-01-13 12:00] IvanSanchez commented on #79
It's a Leaflet feature, not a bug. See https://github.com/Leaflet/Leaflet/pull/3694

If you have two different Leaflet layers, one for low zooms and one for high zooms, and want to enable/disable them both at the same time, create a `L.LayerGroup` with them, add add the group to the layers control instead.

[2017-01-13 12:00] #79 closed

[2017-02-06 22:17] Athospd opened #81 "wish: summary by proportion on heatmaps"
Hello,

In heatmaps we sum up values (passed to intensity argument) over a neibourhood. I would like to be able to aggregate these values with a summary function other than 'sum', for example a proportion of the sum of two variables (eg. sum(x1)/sum(x2), inside the neibourhood).

Is it possible?

Thank you!
Regards,
Athos.

[2017-02-17 12:26] marcel12bell commented on #25
@mourner any news on this? I have Data where values are going below 0....

[2017-02-20 16:23] archeg commented on #74
Looks like this is still an issue?

[2017-03-07 06:54] nakiabrewer commented on #74
Can anyone confirm if this is still the case? I am using  leafletheat as part of a modified Node Red node called 'world map' and am seeing the same results as the people above. When I set max to say 10 and provide an intensity value of 9 I'm getting the same visual result as when I provide a value of 1.

[2017-04-03 13:34] giorgim opened #82 "Expand parameter explanations"
Is it possible to add explanations what each parameter means?

What is blur?
What is minOpacity?
What is intencity?

[2017-04-04 12:20] #82 closed

[2017-04-04 18:57] rodrigo-ferrao opened #83 "Help with heatmap layer ordering"
Hi,
I am calling a GeoJSON points and extract the coords from it geometry as an array, with this array I create the heatmap. After that I call another Geojson, but polygon and the polygons are always drawn in top of my heatmap. How can I solve this problem?

I have tried to creat layergroups for each one of the layers and try to reorder them (by sendToFront(), sendToBack()), but nothings seems to

[2017-04-17 11:07] ollakalla opened #84 "Show the number range of intensity for every color"
I want to know the range of intensity for every color, so i have a heat map for people, and i want to know
how much people range in red, yellow and lime colors.
and the range of each color show in the bottom of map to be link:
Red > 200
Yellow > 100
Lime > 50
and this numbers change according overcrowding of people
is this possible ?

[2017-05-03 13:09] sig-pnrnm commented on #64
Sorry, but I try to do it with a GeoJson created by a JQuery request, with no success (but i am a newbie in Javascript).
My GeoJson come from this request :
`$.getJSON("geojson_7j.php", function(obs) { addObsToMap(obs, map); });`
And its contents are as follows:
`{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[-0.341547,48.528597]},"properties":{

[2017-05-03 14:55] Jmuccigr commented on #64
I simply have a file that is a script that creates a variable containing the geojson. I load that script and so create the variable. So it starts out:

[code]

[2017-05-03 15:20] sig-pnrnm commented on #64
Problem is that my geojson is created with PHP from a query on PostGreSQL database
(with `echo json_encode($geojson, JSON_NUMERIC_CHECK);`)
Do you think it is a good idea to add `var geojson_data = ` dynamically with another PHP file/code ?
Like this :
[code]

[2017-05-03 20:04] Jmuccigr commented on #64
I haven't gotten my heat maps to work with geojson from a mysql database, though I haven't tried too hard either.

[2017-05-04 13:19] sig-pnrnm commented on #64
Sorry, but in fact, it was really simple.
Consider that we have a php file `obs.php` that generate our geojson data :
[code]
In case this is useful to others! ;)

[2017-05-04 16:34] Jmuccigr commented on #64
Easy for you! ;-)

But thanks, that got it working for me. Not quite sure what I was doing wrong, but all better now.

PS I did have one problem with my sql query, in that it was returning null values in some cases (because I forgot to include that in my WHERE clause when selecting the data from the database). It would be great if leaflet.heat would ignore null values instead of failing. (I can pu

[2017-05-24 10:46] devux opened #85 "How to redraw the map"
Hi friends,
         I've done the heat map using this code
var heat = L.heatLayer(addressPoints, {radius: 25},{gradient: {1: 'blue', 0.65: 'lime', 1: 'red'}}).addTo(map);
but now I've have to redraw the map with new set of data, How to do it?
Any syntax or code snippets is there please share here.

I've tried to use redraw() method but its not working for me so how to use it ?

[2017-05-24 10:46] IvanSanchez commented on #85
Hi, great to hear that you find Leaflet useful!

However, this issue tracker is used for reporting bugs and discussing new features. For questions on using Leaflet, please use [gis.stackexchange.com](https://gis.stackexchange.com/questions/tagged/leaflet) or [stackoverflow](https://stackoverflow.com/questions/tagged/leaflet).

If you are *really* sure that this is a bug in leaflet, or a feature re

[2017-05-24 10:46] #85 closed

[2017-06-26 18:51] vlasvlasvlas opened #86 "requested method for rmvLatLng"
Hi,

I need to remove latlongs from my heat layer,

example

- when map loads, it get all markers latlong and add them to a heat layer.

- Now, when i click on layer, turnin layer off, i need to get that group of markerlayer longlats and remove them from the heatlayer..

and i noticed there's no rmvLatLng()

how can i do that? maybe removing this specific longlats from the heatlayer longlats array

[2017-07-07 13:29] Athospd commented on #81
Im still interested in It. Any comments, please?

[2017-07-25 13:28] Zahma commented on #74
Exactly me too i'm facing the same issue, the intensity doesn't change

[2017-08-01 11:55] astridx commented on #74
Yes, I have got the problem, too. I use it with leaflet 1.1.0

[2017-08-08 19:09] sebastian-raubach opened #87 "Unexpected gradient colors"
I'm confused about the `gradient` parameter and how it affects the look of the heatmap.
In my case the heatmap only seems to be using a very limited range of colors from the ones I've specified.

I've set it up with the options as follows:

    {
        radius: 25,
        maxZoom: 12,
        minOpacity: 0.5
        radius: 10,
        max: 1,
        blur: 10,
        gradient: {
            0:

[2017-08-11 08:18] ghost commented on #74
Take the code from the pull request instead of master.

https://raw.githubusercontent.com/Harvinator/Leaflet.heat/dcf67f1aef555e0c214c2b6f904cf09a28d1c012/src/HeatLayer.js

[2017-08-21 12:01] zhuyinjing opened #88 "does leaflet.heat support Vue.js2?"
hi,
i use `import "leaflet.heat"` in my project ,
and i use `
var arrheatmap=[[0,0,1]];
var heat = L.heatLayer(arrheatmap, {
        radius: 20
       }).addTo(this.map);
`
it doesn't work,and it doesn't show error. what's wrong ?

[2017-08-21 12:02] zhuyinjing commented on #88
i use Vue.js in my project.

[2017-08-22 05:28] #88 closed

[2017-08-27 12:01] toton6868 opened #89 "Intensity Wise Gradient is not working"
I have a highest intensity of 1.0 and lowest 0.0. When I am drawing a heatmap in the highest zoom its all are showing the same color. I have plotted the value over the heat color. Here you can see what I am getting in the attached Image. Here is the code I am using. Seems like Intensity is not working and using all value as same.

[code]
[Image](https://ibb.co/ftgzCQ)

[2017-09-06 10:01] zhuyinjing opened #90 "deepzoom picture heatmap"
# hi,i use leaflet.heat  to show deepzoom picture heatmap,and i have coordinate based on picture,but how should i transform the coordinate to show during the map?
how can i do?
thank you so much!!

[2017-09-06 10:50] IvanSanchez commented on #90
Hi, great to hear that you find Leaflet useful!

However, this issue tracker is used for reporting bugs and discussing new features. For questions on using Leaflet, please use [gis.stackexchange.com](https://gis.stackexchange.com/questions/tagged/leaflet) or [stackoverflow](https://stackoverflow.com/questions/tagged/leaflet).

If you are *really* sure that this is a bug in leaflet, or a feature re

[2017-09-06 10:50] #90 closed

[2017-09-13 15:02] Zahma commented on #68
I think this is a problem common to Canvas elements in leaflet. I think it should be solved with z-Index

[2017-09-19 09:13] zhuyinjing opened #91 "different radius when zoom different level"
hey,i use leaflet.heat to show heatmap.
And how can i do to change radius when zoom different level?
how to change?
thanks so much.
leaflet.heat is a good plugin!

[2017-09-19 11:40] zhuyinjing commented on #67
@mertemin  hi,which version of leaflet.heat?3
And if i want to modify radius with different zoom level,can i use your code?
`radius: function (zoom, blur) {
        blur = blur === undefined ? 15 : blur;
        // recalculate radius based on zoom level
        var r = this.defaultRadius * Math.pow(2, zoom - 15);`
Is it need to modify the source code???
thanks you a lot!

[2017-09-19 16:38] mertemin commented on #67
@zhuyinjing Sorry I don't remember which version was that, but you can just copy leaflet.heat code from https://jsfiddle.net/mertk/zawj9uwm/15/ and play with it.

[2017-09-20 01:24] zhuyinjing commented on #67
thanks so much! @mertemin And i want to ask you. How can i modify this code?[](https://jsfiddle.net/mertk/zawj9uwm/15/ )
does it need modify the source code?
Or add it to my code??

[2017-09-20 12:30] SupervisionT opened #92 "Heatmap Color Browsers Comparability"
Hi,

I used the leaflet.heat to show heat map but the interesting thing that I had different coloring them in different browsers, Chrome & Firefox.
here you can see the difference ![Image firefox vs. chrome](https://github.com/SupervisionT/heatmap/blob/master/Screenshot%20from%202017-09-20%2015-21-06.png)
Changing the "blur" value based on the browser type may help but still you can see the differ

[2017-10-18 15:41] dlang81 commented on #91
map.on("zoomend", function(){
    heatLayer.setOptions({radius: map.getZoom()});
});

[2017-10-18 15:43] dlang81 commented on #89
[https://github.com/Leaflet/Leaflet.heat/pull/78]

[2017-10-18 15:43] dlang81 commented on #89
[https://github.com/Leaflet/Leaflet.heat/pull/78](url)

[2017-10-18 15:44] dlang81 commented on #89
[https://github.com/Leaflet/Leaflet.heat/pull/78](https://github.com/Leaflet/Leaflet.heat/pull/78)

[2017-10-28 14:02] jaykeshkcs opened #94 "Heatmap clear layers"
hello

How can i clear previously created heatmap layers and render new with new data?

With redraw function is adding as new layers.

Thanks

[2017-11-24 10:07] Bengreen commented on #75
I get a similar case as when I create my maps they are of 0 size. And then get resized later in the lifecycle.
Is it possible to put some guards around the getImageData call when the width or height are 0 otherwise we trigger a throw.

[2017-11-24 11:35] Bengreen opened #95 "zero width or height"
As part of the lifecycle of my maps my width or height can be zero which results in an error being thrown from getImageData.
I see that this is called inside simpleheat so I have suggested an update and provided a pull request.
Once/if this is in place can you update the Leaflet.heat to include this update.

[2017-12-11 13:25] tkauer opened #96 "Demo does not work: https cdn for js/css-files"
The demos at https://leflet.github.io/Leaflet.heat/demo/ and https://leaflet.github.io/Leaflet.heat/demo/draw.html do not work.

github.io forces a https connection while leaflet.js and leaflet.css are loaded via http. this results in a blank page for most browser configurations.

[2017-12-13 19:33] luispina commented on #63
I'm so sorry to write in a closed thread, but i'm having the same problem. Was there any solution, @cpunekar ?

Thanks in advice for any help.

[2017-12-21 07:57] #91 closed

[2017-12-26 12:22] VBIManonmaniM commented on #25
Scale all the values with positive and negative value to [0 to 1] so we can use Leaflet.Heatmap to display heatmap

[2018-01-03 16:43] divinocfelix opened #97 "Heat layer is not changed when working with many points."
Good afternoon.

I am building a dynamic heat map using elasticsearch, so the amount of points can vary according to the precision reported by the user, but when I have a lot of points I can not see changes on the map.

Obs.
1 The problem can be verified using the examples map1 and map2.
2. In map2, the function that constructs the heat layer (_createHeatLayer) is only using 1/3 of the points, so

[2018-01-07 14:48] w1ndy opened #98 "Using latest Leaflet.GridLayer.GoogleMutant leads to low intensity of generated heatmaps"
Because Leaflet.GridLayer.GoogleMutant [changes](Leaflet.GridLayer.GoogleMutant) its maxZoom level from 18 to 23, the intensity of generated heatmaps becomes lower if maxZoom is not specified in the options since Leaflet.heat uses the map's maxZoom by default.
Perhaps the default for maxZoom should be a fixed value?

[2018-01-13 16:12] bkesh14 opened #99 "adding intensity to addLatLng"
on initialization of heatlayer, we can pass 3rd optional intensity but that is not available in addlatLng method. how can we pass intesity in addLatLng ?

[2018-03-06 17:32] AndradeB91 opened #100 "Possibility to set each point radius"
Is this possible, nowadays?

[2018-03-09 19:30] rudak opened #101 "Heatmap with secret points"
I would like to show a **heat map** but I **don't** want users to be able **to retrieve the points** in hack source.
Do you have any suggestions?
```I'm sorry about that kind of question, but it might interest other people. Thank you```

[2018-03-30 02:40] GeneralLi95 commented on #61
hi @beastlike，
 Just want to know where's the code you post? Looking forward to it!

[2018-03-30 02:42] GeneralLi95 commented on #61
@rmpestano
Using another layer?

[2018-06-24 21:37] GopherJ opened #102 "IndexSizeError: Index or size is negative or greater than the allowed amount"
I've got this error, anyone the same?

[2018-07-18 17:38] kojilab commented on #75
Did you guys figure it out? I'm running into the same issue.

[2018-08-08 09:00] stefansc1 opened #104 "maxZoom in leaflet"
maxZoom is a Leaflet option for TileLayers and GridLayers. To disable the heatmap's intensity scaling with zoom, I set maxZoom to the map's minimum zoom level. Now I cannot toggle the heatmap layer in the layer controls any more, because layer.options.maxZoom is checked for that (see https://github.com/Leaflet/Leaflet/blob/86bb4090c1b1b56165e40b62992750a4e7e2f963/src/control/Control.Layers.js#L402

[2018-08-09 10:13] sanusart commented on #87
Try:

[code]

[2018-08-28 09:57] benderlidze commented on #24
Got any example with custom pane and heat layer? Thanks

[2018-09-09 11:31] aysunakarsu commented on #70
Hello,
I am using heatmap plugin of folium and it is generating incorrect output by ignoring the weights of the locations. As I understand it is due to underlying js which is not loading correctly and ignoring weights.
I will appreciate if someone can suggest a workaround.
Thanks

[2018-09-14 06:45] fengjianying commented on #82
What is blur?
What is minOpacity?
What is intencity?
can you tell me?

[2018-09-17 00:21] seblaz commented on #70
Any updates on this?

[2018-11-15 13:33] jericopulvera opened #106 "Need demo for adding heat using click"
I'll try to get sometime working on this if no one is interested.

[2018-12-19 03:01] donei34 commented on #104
That way I personally fixed this exact same issue was to manually edit leaflet-heat.js and replace u = void 0 etc. with whatever maxzoom you want. Then in your main script and the options for the heatmap remove the maxzoom declaration

[2019-01-17 10:24] stefansc1 commented on #104
There are two other ways: when editing the leaflet-heat code anyway, you could change this.options.maxZoom to anything that is not used yet, like this.options_maxZoom, so it can still be set but does not interfere with the leaflet option for layers. Or you could overwrite how the layer control works (however, this disables zoom checking for all layers):
[code]

[2019-01-17 17:12] wma5283 commented on #92
Has this ever been resolved? I'm currently running into a similar problem..

[2019-01-24 09:32] jericopulvera opened #107 "Is it possible to change the intensity color based on the number of heatpoints combined in view?"
I want to achieve this coloring.

1-1000 yellow
1001-2000 orange
2001-3000 red
3001-4000 maroon
4001-5000 mahogany

[2019-02-11 09:32] Sti2nd commented on #107
I don't think it is a built in feature. A workaround could possibly be: If each of these points have an intensity of 0.0001 you could input these five colours and set max point intensity to 0.5.

NB:  I have not read the actual source code. This assumes the colours in the heatmap is simply calculated from the sum of point intensities in the grids it creates. Meaning, If there are 5000 points in on

[2019-02-11 10:22] jericopulvera commented on #107
@Sti2nd thanks. I'll try this.

[2019-02-11 10:45] jericopulvera commented on #107
Doesn't work. All I get is mahogany and I have 296 heats. It should return yellow.

[2019-02-11 10:56] Sti2nd commented on #107
Well, it does depend on your zoom level or how large the clusters in the grid are in the source code.

You only have 296 points on your map? And all points have intensity 0.0001?

[2019-02-11 11:04] jericopulvera commented on #107
@Sti2nd yeah. But I am not getting yellow. I tried it in all zoom value. all mahogany

[2019-02-11 11:14] Sti2nd commented on #107
Oh well, I guess my assumptions were wrong or it might be a bug somewhere.

I see there are quite a few issues about heat colour, and a some pull requests as well... https://github.com/Leaflet/Leaflet.heat/pull/78

Since this repo is not actively maintained anymore, your best shot is perhaps to modify the source by e.g. basing it off the already existing pull requests.

[2019-02-25 06:15] DavidMaer commented on #70
Hello I'm using heatmap plugin of folium in python. And it is generating an incorrect map by ignoring the weights. How couldI fix this problem in Python?

[2019-02-28 20:17] #106 closed

[2019-02-28 20:17] #107 closed

[2019-03-08 08:49] mateuszrusyn opened #108 "Heatlayer radius over 80 creates strange object outside default heat"
If I create heatlayer with radius over 80 it creates valid heatmap but outside that circle, something strange appears.

Code:

`
var heat = L.heatLayer([], {
        radius: 80,
        minOpacity: .6,
        opacity: 0.8,
        blur: 100,
        gradient: {
            1.0: color,
        },
    });
    heat.addTo(mymap);
`

![screen](https://user-images.githubusercontent.com/9828438/54017733

[2019-04-19 19:56] matthewboman commented on #102
yup

[2019-04-21 02:00] lzinga opened #109 "Layering different heat maps on top of eachother"
I have 3 types of data I need to show on the map in the form of a "heatmap" I can successfully gradient on the colors I want but I want the colors to blend together if they potentially over lap.

I have the following
[code]
However when points land in the same area the last one to be drawn just overlaps the first and pretty much hides the one underneath it.

This image is with both being shown.
![

[2019-05-08 03:43] eliasm123 commented on #64
So does the code from @sig-pnrnm work? I am trying to figure out how to use a Leaflet heatmap plugin with a geoJSON.

[2019-05-08 18:10] eliasm123 commented on #64
When I try to run the code you wrote  @Jmuccigr  , I get an Uncaught TypeError: Cannot read property 'map' of undefined at geoJson2heat. I am still relatively new to Javascript and coding. Here's the relevant code:

    `var crime2010_points = L.geoJSON(crime2010_points)

		geoJson2heat = function(crime2010_points) {
			 return crime2010_points.features.map(function(feature) {

[2019-05-08 21:08] Jmuccigr commented on #64
@eliasm123 Not sure I can be much help. You're loading leaflet first, right?

[2019-05-09 00:36] eliasm123 commented on #64
@Jmuccigr Nevermind, I figured it out. Your code works, you just have to change the file extension of the geojson to js.

[2019-06-26 14:57] baochengxu commented on #3
how to use method "redraw"  .push code please.

[2019-06-27 14:14] tombh commented on #102
It's actually a bug in https://github.com/mourner/simpleheat It happens when the initial page load doesn't have dimensions above zero. I think a workaround could actually come from CSS, ensuring that your map as dimensions above zero in all conditions.

The relevant line in simpleheat is here: https://github.com/mourner/simpleheat/blob/gh-pages/simpleheat.js#L104

[2019-07-01 14:59] luisjose24 commented on #84
Hello, I want to do somthing like you, did you find a way to set colors in heatmap?

[2019-07-04 19:48] TibGva commented on #71
following too

[2019-07-30 20:56] thomasneirynck opened #110 "Crashes when container has 0 width/height"
Throws an uncaught error when the canvas 0 width/height. This can arise when the container for the `canvas` element has 0 width/height

This is due to https://github.com/mourner/simpleheat/blob/gh-pages/simpleheat.js#L114 in simpleheat. It's illegal to call getImageData with a 0 width/height.

From https://www.w3.org/TR/2dcontext2/#dom-context-2d-getimagedata
[code]

This causes https://github.com

[2019-07-30 20:58] thomasneirynck commented on #110
There is actually an open PR for this in simpleheat https://github.com/mourner/simpleheat/pull/34

[2019-09-18 09:27] paulmortlock opened #112 "Zooming to bounds of points added."
I am getting an error when trying to zoom to the extents of the data I add.

var heat = L.heatLayer(data.features,cfg).addTo(map);
// Fit the map viewport to the bounds of the layers
map.fitBounds(heat.getBounds());

[2019-09-18 09:56] paulmortlock opened #113 "How to add popup to heat points."
I'd like to have a popup with some details for each point is this possible.

[2019-09-18 13:47] IvanSanchez commented on #112
Instances of `L.HeatLayer` don't have a `getBounds()` method. Please read the documentation carefully to find out available methods.

Behaviour as expected, not a bug.

[2019-09-18 13:47] #112 closed

[2019-09-18 13:49] IvanSanchez commented on #113
Not what heatmaps are for. Also, there'll be problems with the edge case of several points at the same coordinates.

[2019-09-18 13:49] #113 closed

[2019-12-19 09:41] abhishek-kumar-engineer commented on #12
thankyou @ajgeers and @Jmuccigr i solved this issue
geoJson2heat = function(geojson) {
return geojson.features.map(function(feature) {
return [parseFloat(feature.geometry.coordinates[1]), parseFloat(feature.geometry.coordinates[0])];
});
}

function addObsToMap(obs, map) {
var geoData = geoJson2heat(obs, 1);
var heatMap = new L.heatLayer(geoData,{radius: 50, blur: 25, maxZoom: 17});
map.addLayer(h

[2020-01-16 15:02] corrigancd commented on #108
Have replicated this (top image). When I zoom out, it's fine. The parameters required to make each map are also specified:
![image](https://user-images.githubusercontent.com/36197976/72535740-f2401500-3870-11ea-9696-47a145f3dd3a.png)

[2020-01-30 20:46] kklot opened #115 "Firefox: script is blocked from extracting canvas data because no user input was detected."
Console logs:

[code]

[2020-01-31 01:29] IvanSanchez commented on #115
What's the complete platform (OS and firefox version) and steps needed to reproduce?

[2020-01-31 01:33] kinh-nguyen commented on #115
Open [this plugin's demo](http://leaflet.github.io/Leaflet.heat/demo/) with Firefox on Mac Catalina.

[2020-01-31 02:43] IvanSanchez commented on #115
Pal, I hate to extract information bit by bit:

- I asked for the firefox version, so I'm asking about it again
- Is it *just* a warning on the console?
- What is the degree of functionality affected: none, some, or all? Does the heatmap work at all, partially, or well?

At this point I feel obliged to point you towards [http://www.chiark.greenend.org.uk/~sgtatham/bugs.html](http://www.chiark.gree

[2020-01-31 02:50] kinh-nguyen commented on #115
- Firefox 72.0.2 (64-bit)
- *just* a warning that it **blocked the script**
- Heatmap does not work,  even the map itself turn blank

[2020-01-31 11:17] IvanSanchez commented on #115
Can't reproduce on Firefox 72 on Debian linux. This is not caused by Firefox 72's new tracking protection features.

Still, I don't have a Mac around, so I'll need to wait for somebody else to reproduce this in order to confirm.

[2020-02-08 05:17] veeableful commented on #115
If it's any help, I found that it doesn't seem to happen on my Firefox 72.0.2 on macOS Catalina. If you replace `http://` with `https://` however then it prints errors about mixed active content and the map fails to load but I suppose that's a separate issue.

[2020-02-12 08:47] WebMapUtils opened #116 "Laggy Heatmaps"
Hi there,

What's the best way to make the heatmaps not lag the browser? I need to show heatmaps of crime throughout the U.K. map, however this ends up 'stuttering' and providing lag to the browser.

[2020-04-14 15:25] nielsswinkels opened #117 "Demos don't work: Blocked loading mixed active content"
When I try to view the demo https://leaflet.github.io/Leaflet.heat/demo/ in either firefox or chrome it does not load. In the console I see
Blocked loading mixed active content “http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css”

This seems to be because the files it tries to load are on http urls, while the page of the demo has https. When I try to view it as http it works. ( http://leaflet.git

[2020-05-09 13:13] gndeepan opened #118 "ERROR: ENOENT: no such file or directory, open 'node_modules/simpleheat/simpleheat.js'"
C:\Users\ELCOT\music\Leaflet.heat-gh-pages> npm run prepublish

-m -o dist/leaflet-heat.js

ERROR: ENOENT: no such file or directory, open 'node_modules/simpleheat/simpleheat.js'
    at Object.openSync (fs.js:458:3)
    at Object.readFileSync (fs.js:360:35)
    at read_file (C:\Users\ELCOT\AppData\Roaming\npm\node_modules\uglify-js\bin\uglifyjs:373:19)
    at C:\Users\ELCOT\AppData\Roaming\npm\nod

[2020-05-09 13:13] gndeepan commented on #118
plzzzzzz hlppp

[2020-05-14 14:31] MiguelRodriguezAnticona commented on #43
I have the same problem so far, what is the solution?

[2020-05-23 07:25] Waffleboy opened #119 "Not working offline"
Hello, I've modified folium to take in JS/CSS from offline sources, as well as load from local z/x/y folders for tilesets and its able to plot normally.

However, the heatmaps dont work at all, and with no errors shown.

The layer exists as I can see it in LayerControl, but when i turn it on/off nothing happens. I dont see a heatmap.

I've already changed `render` in `heat_map.py` to point to the

[2020-05-23 14:38] #119 closed

[2020-05-23 14:38] Waffleboy commented on #119
Issue wasnt with the library, thanks!

[2020-06-09 09:07] mirko77 commented on #75
Same issue here

[2020-06-18 10:00] Dumbaz commented on #110
Hi, is there an update on this one? We would appreciate this getting fixed :)

[2020-08-28 18:51] angel-langdon commented on #88
hey, did you solve it? i want to use this library in react, how can i?
Note: I don't want to use the react-leaflet-heatmap library, i want to use Leaflet.heat

[2021-02-06 13:30] do-me commented on #100
Unfortunately it seems like nobody is working on it yet.

Just wanted to propose [leaflet hexbins](https://github.com/Asymmetrik/leaflet-d3) to anyone looking for the possibility to visualize two things at the same time. Pretty similar to leaflet heat, hexbins have two main attributes, *radius* and *color/opcaity* so one could set the radius to counted features (points) in a bin and opacity to a v

[2021-02-22 15:51] Steckelfisch commented on #115
this thread popped up when I searched on
'Blocked digid.nl from extracting canvas data because no user input was detected.''

taken from the console warning:
 'Blocked https://digid.nl/inloggen_app_qr?utf8=%E2%9C%93&app_verification_code%5Bverification_code%5D=SMJX&button= from extracting canvas data because no user input was detected.'

that is in Nightly: 87.0a1 (2021-02-22) (64-bits) (Ubuntu 20

[2021-05-31 20:52] ttheodorou96 opened #122 "Uncaught TypeError: L.heatLayer is not a function"
**Uncaught TypeError: L.heatLayer is not a function**
I imagine something is wrong with lealet-heat.js file, I included it like this <script src="leaflet-heat.js"></script> as documentation says, because it's not recognizing LheatLayer as a function. (I have also downloaded the eaflet-heat.js file to my project directory)
I also included version 1.7.1 of leaflet (https://leafletjs.com/examples/qui

[2021-06-01 02:29] IvanSanchez commented on #122
[Works for me](https://plnkr.co/edit/wzqI4zFLg3c20JZ1)

[2021-06-01 02:29] #122 closed

[2021-11-21 20:46] misternopps commented on #122
You can get this error when your leaflet-heat.js file included after your leaflet.js file

[2021-12-31 06:27] hezaizai commented on #84
I wonder if there is a solution

[2021-12-31 06:27] hezaizai commented on #84
I wonder if there is a solution

[2022-05-09 07:02] Ryllau opened #124 "MaxOpacity"
Would it be possible to implement a maximum opacity so that I can still see the map beneath if the intensity is high?